.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    width: 100%;
}

.navbar-light .navbar-nav .nav-item a:hover,
.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(255, 255, 255);
}

.bg-light {
    background-color: #10cabe !important;
}

header .navbar {
    min-height: 70px;
}

.w-100 {
    width: 100% !important;
    height: 550px;
    filter: brightness(50%);
}

.carousel-caption h1 {
    font-size: 5em;
}

.container-color {
    background-color: #10cabe;
    padding: 0%;
    margin: 15px;
}

.new-container {
    position: relative;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.trending-projects {
    padding: 12px 7px;
    font-size: 23px;
}

.recent-projects {
    padding: 12px 7px;
}

img {
    max-width: 100%;
    height: 270px;
    width: 350px;
}

.first-container {
    padding-top: 10px;
    font-size: 32px;
    color: rgb(55, 52, 52);
    align-items: center;
    margin: 15px;
    padding-left: 90px;
}

.description {
    color: rgba(127, 7, 7, 0.546);
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

hr {
    border-top: 1px solid rgb(250, 243, 243);
}

.text-grey {
    color: grey;
    font-size: 14px;
}

.text {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.title {
    display: flex;
    justify-content: center;
}

.carousel-title {
    color: aliceblue;
}

.main-heading {
    margin-top: 80px;
}

#main {
    background-color: white;
}

.green-container {
    background-color: #10cabe;
    padding: 77px 20px;
}

.topic {
    text-align: center;
}

.second-color {
    color: #484848;
    font-size: 14px;
}

.bullet-icon {
    line-height: 2.5;
}

button {
    background-color: #10cabe;
    padding: 12px;
    border-color: #10cabe;
}

.image-one {
    height: 20em;
    width: 31em;
}

.black-container {
    background-color: black;
}

.new {
    color: #10cabe;
    margin-top: 20px;
}

.lineh:hover {
    color: black;
}

.marginspace {
    margin-bottom: 16px;
    font-size: 14px;
}

.forspacing {
    line-height: 9px;
}

.lines {
    color: #6b6868;
    font-size: 14px;
}

.style-socialmedia {
    color: #666464;
}

.socialmedia {
    background-color: black;
}

.bottom-link {
    color: rgba(255, 255, 255, 0.952);
}

.bottom-link:hover {
    color: white;
    text-decoration: none;
}

.style-media {
    border: #484848;
}

.style {
    padding: 20px;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
    border: 1px solid #2d2d2d;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
}

.to-top {
    background: #10cabe;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    /* opacity: 0; */
    /* pointer-events: none; */
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


/* Begin: Media Query */

@media only screen and (max-width: 425px) {
    .image-container {
        display: grid;
    }
    .responsive-ourcompany {
        vertical-align: middle;
    }
    .row {
        display: grid;
    }
    .social-network {
        float: left;
        display: flex;
    }
}


/* End Media Query */